@import url("./reset.min.css");
@import url("./fonts.css");
/*! global*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.container {
  max-width: 1210px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

/*! global*/
/*! header*/
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}
.header__logo span {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.header__nav {
  font-size: 15px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header__socials {
  display: flex;
  gap: 24px;
}
.header__socials-link {
  display: block;
}
.header__socials-link svg {
  fill: #fff;
  transition: all 0.3s ease-in-out;
}
.header__link-block {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background: #4680c2;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.header__link-block:hover {
  background: #3567a0;
}
.header__link-block:hover svg {
  fill: #f2f2f2;
}
.header__phones {
  display: flex;
  background: #4680C2;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  padding: 10px 10px 15px 0;
  position: relative;
}
.header__phones-icon {
  padding-top: 6px;
}
.header__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.facebook-link {
  width: 22px;
  height: 22px;
}

.yt-link {
  width: 22px;
  height: 14px;
}

.hero__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.hero__bg::before {
  content: "";
  width: 100%;
  height: 99.5%;
  background: rgba(70, 128, 194, 0.42);
  position: absolute;
  top: 0;
}

/*! header*/